<div class="wrapper" *ngIf="state$ | async as state">

    <ng-container [ngSwitch]="state.name">
      <div class="loading" *ngSwitchCase="StateName.LOADING">Загрузка</div>
      <div class="postSubmitBlock" *ngSwitchCase="StateName.SUBMITTED">
        <h1>Расписание добавлено</h1>
      </div>
      <div class="errorBlock" *ngSwitchCase="StateName.ERROR">
        <h1>Ошибка сохранения</h1>
        <span>{{state.payload}}</span>
        <div class="ctaBlock">
          <a class="btn" (click)="backToForm()">Назад</a>
        </div>
      </div>
      <div *ngSwitchCase="StateName.READY">
        <form (ngSubmit)="onSubmit()">
          <div class="flex">
  
            <app-select 
              label="Папка"
              [(value)]="form.folderId"
              [options]="dict['folders']"
            ></app-select>
  
            <ng-conteiner *ngIf="isTopicVisible">
              <app-select 
                label="Раздел"
                [(value)]="form.topicId"
                [options]="availableTopics"
              ></app-select>
            </ng-conteiner>
          </div>
          
          <div class="scheduleBlock formBlock"  [class.all]="!form.dateFrom">
            <div class="block-label">Билеты какого периода показывать</div>
            <div class="predefinedRanges">
              @for (item of predefinedRanges; track item.id) {
                <app-button w="initial"
                p="2px 8px" 
                [color]="isPredefinedRangeActive(item) ? 'purple' : 'darkgrey'" 
                fz="12px" fw="500" (click)="setPredefinedRange(item)">{{item.name}}</app-button>
              }
            </div>
            <app-date-picker [(ngModel)]="form.dateFrom" (dateChange)="onDateFromChange($event)" name="dateFrom" [class.overlay]="!form.dateFrom"></app-date-picker>  
            <div class="date-pickers-btw-wrap">
              <div>
                <i class="typcn typcn-arrow-up"></i><span class="control-label">Начало</span>
              </div>
              <div>
                <i class="typcn typcn-arrow-down"></i><span class="control-label">Окончание</span>
              </div>
            </div>        
            <app-date-picker [(ngModel)]="form.dateTo" (dateChange)="onDateToChange($event)" name="dateTo"></app-date-picker>
          </div>

          <div class="weekdaysBlock formBlock">
            <div class="block-label">По каким дням показывать</div>
            <div class="weekdays">
              
              @for (item of weekdays; track item; let i = $index) {
                <app-button w="initial"
                p="2px 8px" [color]="isWeekdayActive(i) === 1 ? 'purple' : 'darkgrey'" fz="12px" fw="500" (click)="toggleWeekday(i)">{{item}}</app-button>
              }
            </div>
          </div>

          <div class="weekdaysBlock formBlock">
            <div class="block-label">Показывать через каждые</div>
            <div class="weekdays">
              
              @for (item of frequencies; track item;) {
                <app-button w="initial"
                  p="2px 8px" [color]="isFrequencyActive(item.value) ? 'purple' : 'darkgrey'" 
                  fz="12px" fw="500" (click)="setFrequency(item.value)">{{item.name}}</app-button>
              }
            </div>
          </div>

          <app-button 
            type="submit" 
          >Сохранить</app-button>
        </form>
      </div>
    </ng-container>
  </div>