<div class="form__group" [class.disabled]="disallow">
  @if (textarea) {
    <textarea id="message" 
      [(ngModel)]="value"
      (ngModelChange)="onValueChange($event)"
      class="form__field"
      
      placeholder="Your Message" 
      [rows]="rows"
      [required]="required"
      [readonly]="disallow"
    ></textarea>
  } @else {
    <input id="message" 
      [(ngModel)]="value"
      (ngModelChange)="onValueChange($event)"
      class="form__field" 
      placeholder="Your Message" 
      [required]="required"
      [readonly]="disallow"
    />
  }
  <label for="message" class="form__label">{{ label }}</label>
</div>