.form__group {
    position: relative;
    padding: 15px 0 0;
    padding-left: 13px;
    font-family: 'Roboto', sans-serif;
    background: rgb(255 255 255 / 10%);
    border-radius: 10px;
    &.disabled{
      padding: 0;
      background-color: transparent;
      &:focus-within{
        outline: none;
      }
      & .form__label{
        display: none;
      }
      & .form__field{
        padding: 0;
      }
      & label:focus ~ .form__label{
        display: none;
      }
      & .form__field:focus ~ .form__label{
        display: none;
      }
    }
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: #ffffff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    resize: none;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 16px;
    cursor: text;
    top: 16px;
  }
  
  label,
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 2px;
    display: block;
    transition: 0.2s;
    font-size: 13px;
    color: #9b9b9b;
  }
  
  .form__field:focus ~ .form__label {
    color: #ffffff;
  }

  .form__group:focus-within {
    outline: 2px solid rgb(26,138,236);
  }