button {
  width: 100%;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  outline: 2px solid transparent;
  transition: 0.4s box-shadow;
}

button.green {
  background: linear-gradient(to right, #00ffa3, #21bdb1);
  &:hover{
    box-shadow: 0px 0px 10px 5px rgb(0 255 177);
  }
}
button.red {
  background: linear-gradient(to right, #ff008c, #bd218e);
  &:hover{
    box-shadow: 0px 0px 10px 5px rgb(255, 0, 140);
  }
}
button.ginger {
  background: linear-gradient(to right, #ff008c, #ab4725);
  &:hover{
    box-shadow: 0px 0px 10px 5px rgb(255, 51, 0);
  }
}
button.purple {
  background: linear-gradient(to right, #5800e5, #2f1b8e);
  &:hover{
    box-shadow: 0px 0px 10px 5px rgb(80, 12, 94);
  }
}
button.blue {
  background: linear-gradient(to right, #294fd0, #153fe8);
  &:hover{
    box-shadow: 0px 0px 10px 5px #153fe8;
  }
}
button.darkgrey {
  background: linear-gradient(to right, #464755, #2c2d34);
  &:hover{
    box-shadow: 0px 0px 10px 5px #464755;
  }
}






button:disabled{
  opacity: 0.7;
  // cursor: not-allowed;
  &:hover{
    box-shadow: none;
  }
}