<div class="wrapper" *ngIf="state$ | async as state">
  <ng-container [ngSwitch]="state.name">
    <div class="loading" *ngSwitchCase="StateName.LOADING">Загрузка</div>
    
    <div class="postSubmitBlock" *ngSwitchCase="StateName.SUBMITTED">
      <h1>Ответ принят</h1>
      <div class="ctaBlock">
        <div class="mainBtnWrapper">
          <app-button color="purple" w="150px" (click)="closeExtension()">
            <span>
              <span class="countdown" *ngIf="countdown">{{ countdown }}</span>
              Закрыть
            </span>
          </app-button>
        </div>
        <div class="secondaryBtnWrapper">
          <!-- <app-button (click)="backToForm()"><i class="typcn typcn-media-play-reverse-outline"></i></app-button>
          <app-button w="120px" (click)="goToAnswerList()"><i class="typcn typcn-chart-bar-outline"></i></app-button>
          <app-button color="purple" (click)="showNextTicket()"><i class="typcn typcn-media-fast-forward-outline"></i></app-button> -->
        </div>
      </div>
    </div>
    
    <div class="errorBlock" *ngSwitchCase="StateName.ERROR">
      <h1>Ошибка отправки</h1>
      <span>{{state.payload.message}}</span>
      <div class="ctaBlock">
        <a class="btn" (click)="backToForm()">Назад</a>
      </div>
    </div>
    <div *ngSwitchCase="StateName.READY">
      <div class="topRow">
        <app-button w="50px" p="4px" (click)="goToTicketList()"><i class="typcn typcn-th-list"></i></app-button>
        <app-button color="purple" (click)="showCorrectAnswer()" [disabled]="!answer.body.length" >
          @if (currentSide === 'front') {
            <i class="typcn typcn-eye-outline"></i>
          } 
          @else {
            <i class="typcn typcn-media-play-reverse-outline"></i>
          }
        </app-button>
        @if (queueState$ | async; as data) {
          <app-button color="grey" (click)="showCorrectAnswer()" [disabled]="true" >
            Ждут ответа: {{ data.all }}
          </app-button>
        }
        <app-button color="purple" title="Скипнуть билет" (click)="nextTicket()"><i class="typcn typcn-media-fast-forward-outline"></i></app-button>
      </div>
      <div class="secondRow">
        <div class="title">
          <h3>{{ ticket?.question }}</h3>
        </div>
        <div class="actions">
          <!-- <i class="typcn typcn-trash" (click)="deleteWithAnswersAndLoadOldest()"></i> -->
        </div>
      </div>
      
      <form (ngSubmit)="onSubmit()">

        <div>
          <app-flip [side]="currentSide">
            <!-- Front Side Content -->
            <div front>
              <div class="flexVert">
                <app-textarea [(value)]="answer.body" label="Ответ" [textarea]="true" [rows]="18"></app-textarea>
                <app-button 
                  type="submit" 
                  [disabled]="!answer.body.length" 
                  [title]="!answer.body.length ? 'Введите ответ' : ''"
                  color="red"
                >Сохранить</app-button>
              </div>
            </div>
          
            <!-- Back Side Content -->
            <div back>
              @if (ticket) {
                <app-textarea [(value)]="ticket!.rightAnswer" label="Ответ" [textarea]="true" [rows]="18"></app-textarea>
              }
            </div>
          </app-flip>
  
        </div>
        
      </form>
    </div>
  </ng-container>
</div>
