<div class="scaffold">
  <a (click)="showOldestTicket()">oldest bus</a> | 
  <a [routerLink]="['/faq/ticket', 1]">{{ 'id 1' }}</a>
  {{ ' | '}}
  <a [routerLink]="['/faq/ticket']">{{ 'oldest' }}</a>
  {{ ' | '}}
  <a [routerLink]="['/faq']">{{ 'faq' }}</a>
  {{ ' | '}}
  <a [routerLink]="['/faq/ticketCreate']">{{ 'create' }}</a>
  {{ ' | '}}
  <a [routerLink]="['/test']">{{ 'test' }}</a>
  {{ ' | '}}
  <a (click)="check()">{{ 'check' }}</a>
  
</div>

<div class="host-container">
  <!-- <div class="mfeWrapper" #placeHolder></div> -->
  <div class="routerDiv">
    <router-outlet></router-outlet>
  </div>
  <div class="remoteButtonContainer" #remoteButtonContainer></div>
</div>

<!-- <button (click)="loadAndRegisterComponent()">Load and Register Component</button> -->
    

