<div class="scaffold hidde">
  <a (click)="showOldestTicket()">oldest bus</a> | 
  <a [routerLink]="['/faq/ticket', 1]">{{ 'id 1' }}</a>
  {{ ' | '}}
  <a [routerLink]="['/faq/ticket']">{{ 'oldest' }}</a>
  {{ ' | '}}
  <a [routerLink]="['/faq']">{{ 'faq' }}</a>
  {{ ' | '}}
  <a [routerLink]="['/faq/ticket-create']">{{ 'create' }}</a>
  {{ ' | '}}
  <a [routerLink]="['/test']">{{ 'test' }}</a>
  {{ ' | '}}
  <a (click)="check()">{{ 'check bus store' }}</a>
  {{ ' | '}}
  <a (click)="tick()">{{ 'tick' }}</a>
</div>
<div class="host-container">
  <div class="routerDiv">
    <router-outlet></router-outlet>
  </div>
  
  <div *ngIf="!isHomeRoute()" class="remoteButtonContainer" #remoteButtonContainer appGroupButtons>
  </div>
  
  <div class="mainButtons" [class.wide]="isHomeRoute()">
    <ng-container #remoteButtonContainer2></ng-container>
    <div class="cont">
      <i class="homeBtn mu mu-home" (click)="goHome()"></i>
    </div>  
  </div>
</div>

