@import '~@assets/typicons/typicons.css';
// button {
//     padding: 10px 20px;
//     background-color: #007bff;
//     color: white;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//     background-size: cover;
// }

// background-image: url('/assets/images/product-buttons-bg.jpg');
.card{

    
    width: 44px;
    height: 44px;
    background-position: center;
    position: relative;
    border-radius: 29px;
    // background: linear-gradient(to right, #493240, #FF0099);
    background: #d6d6d6;
    display: flex;
    justify-content: center;
    cursor: pointer;
    & i {
        font-size: 33px;
        color: #524d60;
    }
}

